:root {
    --blue: #00adee;
    --grey: #505355;
}
  
* {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

h1 {
    color: var(--grey);
    font-size: 3.5em;
    margin-top: 0;
}

body header img{
    height: 25px;
}

body {
    margin-left: 8%;
    margin-right: 8%;
}

#student-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "quote quote picture"
    "profile profile contact"
    "experience experience experience";
    grid-gap: 50px;
    column-gap: 20px;
}

#student-picture{
    grid-area: picture;
    text-align: center;
}

#student-picture img{
    border-radius: 50%;
    height: 350px;
    width: 350px;
}

#student-quote{
    grid-area: quote;
    padding-top: 10%;
}

#student-profile{
    grid-area: profile;
}

#student-contact{
    grid-area: contact;
    text-align: center;
}

#experience{
    grid-area: experience;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#experience div{
    width: 33%;
    padding-right: 50px;
}

h3{
    color: var(--blue);
}



