html, body {
    height: 100%;
  }
  
  h2 {
    color: black;
  }
  
  .red-text {
    color: red;
  }
  
  #list-heading {
    color: blue;
  }
  
  ul#flex-container {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  ul li {
    height: 150px;
    padding-top: 45px;
    color: white;
    font-weight: bold;
    font-size: 2.5em;
    text-align: center;
    /*flex-grow: 1;*/
    flex-wrap: wrap;
    justify-content: left;
  }
  
  ul li:first-child {
    background-color: blue;
    order: 2;
    
  }
  ul li:nth-child(2) {
    background-color: yellow;
  }
  ul li:nth-child(3) {
    background-color: green;
    order: 4;
  }
  ul li:nth-child(4) {
    background-color: red;
  }
  ul li:nth-child(5) {
    background-color: magenta;
  }
  ul li:last-child {
    background-color: gray;
  }