:root {
    --top-row-height: 120px;
    --gutter: 20px;
    --blue: #00adee;
    --light-blue: rgba(0, 173, 238, 0.4);
    --green: #8cc36f;
    --light-green: rgba(170, 239, 135, 0.8);  
    --bg-color: rgba(192, 192, 192, 0.1);
    --subheading: rgba(0, 0, 0, 0.6);
  }
  
  * {
    box-sizing: border-box;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
  }

  body {
    display: grid;
    grid-template-columns: 1fr 6fr;
  }

  section {
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
  }

  aside {
    border-right: thin solid var(--blue);
    text-align: center;
  }

  aside img {
    max-height: var(--top-row-height);
    align-content: center;
  }

  aside li a:hover {
    text-decoration: underline;
  }

  nav {
    width: max-content;
    padding-right: 40px;
  }

  aside ul {
    text-align: center;
  }

 li {
   border-bottom: thin solid var(--blue);
   padding-bottom: var(--gutter);
   margin-top: var(--gutter);
   list-style-type: none;
 }

 ul li a {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--blue);
  text-decoration: none;
}
  
 main {
   margin-left: var(--gutter);
 }

 main header img {
   max-height: 100px;
   max-width: 10%;
 }

 main img {
   height: 800px;
   width: 2400px;
 }

.subheading{
  display: none;
}

header {
  margin-bottom: var(--gutter);
}

h2{
  color: var(--green);
}

i {
  margin: 5px;
}

#our-work{
  border-left: thin solid var(--light-green);
  border-right: thin solid var(--light-green);
  padding-left: var(--gutter);
  padding-right: var(--gutter);
}

#what-we-do{
  margin-right: var(--gutter);
}

#contact-us{
  margin-left: var(--gutter);
  margin-right: var(--gutter);
}

 