* {
	box-sizing: border-box;
}

body {
	border: 1px solid black;
	margin: 20px;
	padding: 10px;
	height: 250px;
}

form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

form > * {
	margin: 8px 0;
}

form > label {
	font-weight: bold;
}

.choice{
   flex-direction: row;
}