
.error {
    color:red;
    font-size: 0.875em;
}

input:invalid {
    border: 2px solid red;
}

input:invalid:required {
    background-image: linear-gradient(to right, white, lightgrey);
}

input:valid {
    border: 2px solid darkorange;
}

.bg-register-image {
    background: url("/img/BeerLover.png") center;
}

.bg-login-image {
    background: url("/img/beer-glasses.jpg") center;
}

.bg-password-image {
    background: url("/img/Forgotpassword.png") center;
    background-size: cover;
}

/*
    Start - Accordion Example Styles
 */

.input-group {
    margin-top: 20px;
    margin-bottom: 10px;
}

.panel {
    margin-top: 10px;
    background-color: rgba(255, 255, 255, .9)!important;
    border: solid 2px #ccc;
}

.panel-heading {
    background-color: #8AFFDF!important;
}

#accordion_search_bar {
    border: solid 2px #ccc;
}

.btn-default {
    border: solid 1.5px #ccc;
}

.fa-search {
    font-size: 1.3em;
}

.fa-paw {
    font-size: 1.4em;
    color: #6B7F7A;
}

.row-2{
    display: flex;
    flex-wrap: wrap;
    /* margin-right: -.75rem; */
    /* margin-left: -.75rem; */
}

.display-3{
    color: darkorange;
}

.btn-primary{
    background-color: darkorange;
    border-color: darkorange;
}

.btn-primary:hover {
    color: #fff;
    background-color: coral;
    border-color: coral;
}

/*.bg-gradient-primary {*/
/*    background-color: darkorange;*/
/*    background-image: linear-gradient(180deg,#4e73df 10%,#224abe 100%);*/
/*    background-size: cover;*/
/*}*/

.orange {
    color: orange;
}

.black {
    color: #3a3b45;
}

.beer-title-font {
    font-family: "Times New Roman";
}

.checked {
    color: orange;
}

.unchecked {
    color: lightgray;
}

.logo{
    border-radius: 50%;
}

.rounded-circle{
    max-width: 60%;
    border-radius: 50%!important;
}

.brewery-dashboard-logo{
    max-width: 80%;
    border-radius: 50%! important;
}

.dashboard-title-font {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.blue {
    color: #4e73df;
}

.bg-gradient-primary-1 {
    background-color: darkorange;
    background-size: cover;
}
/*
    End - Accordion Example Styles
 */